In [13]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [23]:
average_age_men = df[['age','sex']].mean
average_age_men = df.loc[np.where(df['sex'] == 'Male')]['age'].mean()
average_age_men = df.where(df['sex'] == 'Male')['age'].mean()
average_age_men

39.43354749885268

In [58]:
df

pre = np.round((df.where(df['education'] == 'Bachelors')['education'].value_counts() / df['education'].count()) * 100, 1)
pre

Bachelors    16.4
Name: education, dtype: float64

In [142]:

wit = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]

wit = (wit.loc[wit['salary'] == '>50K'].count() /  wit['salary'].count() )* 100
print(wit)
print(df['salary'].value_counts())

age               46.535843
workclass         46.535843
fnlwgt            46.535843
education         46.535843
education-num     46.535843
marital-status    46.535843
occupation        46.535843
relationship      46.535843
race              46.535843
sex               46.535843
capital-gain      46.535843
capital-loss      46.535843
hours-per-week    46.535843
native-country    46.535843
salary            46.535843
dtype: float64
<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [307]:
wit = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]
wit = round(((wit[wit['salary'] == '>50K'].count() /  wit['salary'].count() )* 100), 1)['education']
wit

17.4

In [217]:
ad = (df.loc[(df['salary'] == '>50K') &  (df['hours-per-week'] == 1)].count() / df.loc[df['hours-per-week'] == 1].count()) * 100
#print(df.loc[df['hours-per-week'] == 1])
#print(ad.count())
#ad = (ad.count() / df['salary'] .count() )* 100
ad = ad.round(0)
ad
#

age               10.0
workclass         10.0
fnlwgt            10.0
education         10.0
education-num     10.0
marital-status    10.0
occupation        10.0
relationship      10.0
race              10.0
sex               10.0
capital-gain      10.0
capital-loss      10.0
hours-per-week    10.0
native-country    10.0
salary            10.0
dtype: float64

In [218]:
num_min_workers = df.loc[(df['salary'] == '>50K') &  (df['hours-per-week'] == 1)].count()
num_min_workers

age               2
workclass         2
fnlwgt            2
education         2
education-num     2
marital-status    2
occupation        2
relationship      2
race              2
sex               2
capital-gain      2
capital-loss      2
hours-per-week    2
native-country    2
salary            2
dtype: int64

In [283]:
gb =  (df[df['salary'] == '>50K' ]['native-country'].value_counts()/df.groupby(['native-country']).size()).sort_values(ascending=False)
count2 = df['native-country'].value_counts()
print(gb.max())
gb

0.4186046511627907

Iran                          0.418605
France                        0.413793
India                         0.400000
Taiwan                        0.392157
Japan                         0.387097
Yugoslavia                    0.375000
Cambodia                      0.368421
Italy                         0.342466
England                       0.333333
Canada                        0.322314
Germany                       0.321168
Philippines                   0.308081
Hong                          0.300000
Greece                        0.275862
China                         0.266667
Cuba                          0.263158
?                             0.250429
Scotland                      0.250000
United-States                 0.245835
Hungary                       0.230769
Ireland                       0.208333
South                         0.200000
Poland                        0.200000
Thailand                      0.166667
Ecuador                       0.142857
Jamaica                       0.123457
Laos                          0.111111
Portugal                      0.108108
Trinadad&Tobago               0.105263
Puerto-Rico                   0.105263
Haiti                         0.090909
El-Salvador                   0.084906
Honduras                      0.076923
Vietnam                       0.074627
Peru                          0.064516
Nicaragua                     0.058824
Mexico                        0.051322
Guatemala                     0.046875
Columbia                      0.033898
Dominican-Republic            0.028571
Holand-Netherlands                 NaN
Outlying-US(Guam-USVI-etc)         NaN
dtype: float64

In [279]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

'Prof-specialty'

In [249]:
num_min_workers = len(df[ (df['hours-per-week']==1)  ] )
num_min_workers_with = len(df[ (df['hours-per-week']==1) & (df['salary'] == '>50K')  ] )

rich_percentage =  round(num_min_workers_with / num_min_workers  * 100,1)
rich_percentage

10.0

In [324]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

      # What is the average age of men?
    average_age_men = round(df.where(df['sex'] == 'Male')['age'].mean(), 1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((df[df['education'] == 'Bachelors']['education'].count() / df['education'].count()) * 100, 1)
   

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
    lower_education =df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]

    # percentage with salary >50K
    higher_education_rich = round((higher_education[higher_education['salary'] == '>50K']['education'].count() /  higher_education['salary'].count() )* 100, 1)
    
    lower_education_rich = round((lower_education[lower_education['salary'] == '>50K']['education'].count() /  lower_education['salary'].count() )* 100, 1)
    

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours =  df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (df[(df['salary'] == '>50K') &  (df['hours-per-week'] == min_work_hours)].count())['hours-per-week']
  

    rich_percentage = ((num_min_workers / df.loc[df['hours-per-week'] == 1].count()) * 100)['salary']

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = (df[df['salary'] == '>50K' ]['native-country'].value_counts()/df.groupby(['native-country']).size()).sort_values(ascending=False).index[0]
    highest_earning_country_percentage = round((df[df['salary'] == '>50K' ]['native-country'].value_counts()/df.groupby(['native-country']).size()).sort_values(ascending=False).max() * 100, 1)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
       # print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        #'higher_education_rich': higher_education_rich,
       # 'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }


calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}

In [299]:
p =  round((df[df['salary'] == '>50K'].count() /  df['salary'].count() )* 100, 1)
p

age               24.1
workclass         24.1
fnlwgt            24.1
education         24.1
education-num     24.1
marital-status    24.1
occupation        24.1
relationship      24.1
race              24.1
sex               24.1
capital-gain      24.1
capital-loss      24.1
hours-per-week    24.1
native-country    24.1
salary            24.1
dtype: float64

In [319]:
higher_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
lower_education =df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]

    # percentage with salary >50K
higher_education_rich = round((higher_education[higher_education['salary'] == '>50K']['education'].count() /  higher_education['salary'].count() )* 100, 1)
higher_education_rich
#lower_education_rich = round((lower_education[df['salary'] == '>50K'].count() /  df['salary'].count() )* 100, 1)

46.5

In [322]:
higher_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
lower_education =df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]

    # percentage with salary >50K
higher_education_rich = round((higher_education[higher_education['salary'] == '>50K']['education'].count() /  higher_education['salary'].count() )* 100, 1)
higher_education_rich

46.5